/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap
  src: local(""),

    url("../NoTab/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../NoTab/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$slider-width: 700px;
$slider-height: 500px;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #7656d6;
  color: #333;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 22px;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: $slider-width;
  height: $slider-height;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: $slider-width;
  height: $slider-height;
  z-index: 1;
}

.slides {
  display: flex;
  position: relative;
  top: 0;
  left: -$slider-width;
  width: 10000px;
}

.slides.shifting {
  transition: left 0.2s ease-out;
}

.slide {
  width: $slider-width;
  height: $slider-height;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: transparent;
  border-radius: 2px;

  & > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50px;
  margin-top: -20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.prev,
.next {
  background-size: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.prev {
  background-image: url("https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png");
  left: -20px;
}

.next {
  background-image: url("https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png");
  right: -20px;
}

.prev:active,
.next:active {
  transform: scale(0.8);
}

.dots {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;

  &__dot {
    all: unset;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;

    &--active {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}
